@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Add @font-face definitions for Bastia and Futura */
@font-face {
  font-family: 'Bastia';
  src: url('/fonts/Bastia-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Global body font, set Arial by default */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* Default font */
}

/* Apply Bastia font only to specific components */
.bastia-font {
  font-family: 'Bastia', Arial, Helvetica, sans-serif;
}

/* Apply Futura font only to specific components */
.futura-font {
  font-family: 'Futura', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}